:root {
  /* colores */
  --bitcoin-orange: #f7931a;
  --soft-blue: #e7f5ff;
  --warm-black: #201e1c;
  --black: #282623;
  --secondary-blue: #1a9af7;
  --secundary-orange: #ff9536;
  --gray: #bababa;
  --just-white: #fff;
  --soft-orange: #ffe9d5;
  --off-white: #faf8f7;
}

html {
  font-family: 'Roboto', sans-serif;
}

body {
  /* background-color: #eee; */
  background-color: var(--soft-orange);
}

#app {
  /*Ahora será app donde se rendericen los template, en lugar de body*/
  display: flex;
  margin: 0 auto;
  /* flex-direction: column; */
}

#app div {
  /*Ahora será app donde se rendericen los template, en lugar de body*/
  flex-grow: 1;
  background-color: #fff;
  margin: 5px;
  /* margin-top: 0; */
  padding: 10px;
  margin: 0 auto;
  line-height: 28px;
}

/* body div:first-child {
  margin-left: 0px;
} */

#meals {
  /* margin-left: 0px; */
  border-radius: 8px;
  padding: 10px;
  max-width: 400px;
  min-width: 300px;
}

#orders {
  /* margin-right: 0px; */
  border-radius: 8px;
  padding: 10px;
  max-width: 400px;
  min-width: 300px;
}

#orders ul {
  list-style: none;
}

@media (max-width: 874px) {
  #app {
    flex-direction: column;
  }
  #app.div {
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
  }
  div #meals {
    margin-bottom: 40px;
  }
}
/* ul {
  list-style-type: none;
} */

#submit {
  /* background-color: #17495e; */
  background-color: #2a91bd;
  width: 80px;
  color: #fff;
  padding: 10px 15px;
  border: solid 0px;
  border-radius: 8px;
  margin: 15px;
  margin-left: 38px;
  align-content: center;
}

#submit-container {
  display: flex;
  justify-content: center;
}

#submit:disabled {
  background-color: #ccc;
}

#submit-login:disabled {
  background-color: #ccc;
}

#submit-register:disabled {
  background-color: #ccc;
}

#submit:hover {
  background-color: #32a4d4;
}
.btn:hover {
  background-color: #32a4d4;
}

#submit:active {
  background-color: #17495e;
}

.btn:active {
  background-color: #17495e;
}

#logout-btn:hover {
  background-color: #32a4d4;
}

#logout-btn:active {
  background-color: #17495e;
}

#meals-list li {
  cursor: pointer;
}

.selected {
  background-color: #eee;
}

#app .form-main {
  max-width: 350px;
  min-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 15px;
  padding-bottom: 50px;
  border-radius: 8px;
  /* background-color: var(--soft-orange); */
}

.login-form p {
  margin-bottom: 5px;
  font-size: 14px;
}

form input {
  width: calc(100% - 10px);
  /* height: 24px; */
  height: 30px;
  padding-left: 5px;
  /* background-color: #dedede; */
  background-color: #eee;
  border: none;
  border-radius: 8px;
  color: #000;
  box-shadow: 0px 4px 8px rgba(89, 73, 30, 0.16);
}

.btn {
  border: none;
  padding: 10px 15px;
  background-color: #2a91bd;
  /* background-color: #2280cc; */
  border-radius: 8px;
  color: #fff;
  margin-top: 15px;
  /* width: 100%; */
  /* width: calc(100% - 4px); */
}

.block {
  width: calc(100% - 4px);
}

.form-title {
  text-align: center;
  font-size: 24px;
}

/* Esta regla es para eliminar un elemento div que está metiendo el live server */
#scrnli_recorder_root {
  display: none;
}

#register-btn,
#login-btn,
#logout-btn {
  border: none;
  /* background-color: #fff; */
  padding: 10px 15px;
  margin-top: 25px;
  text-decoration: none;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

#register-btn:hover {
  color: #32a4d4;
}

#login-btn:hover {
  color: #32a4d4;
}

#logout {
  text-align: end;
  margin-top: 40px;
  margin-right: 20px;
  margin-bottom: 40px;
}

#logout span h2 {
  display: inline;
  margin-right: 50px;
}

.hidden {
  display: none;
}

h2 {
  text-align: center;
}

.form-placeholder {
  font-weight: bold;
  text-align: center;
  padding-bottom: 5px;
}

#header {
  text-align: center;
}
